n8n/exports/flow-03-guardrails-prefilter.json
{
  "name": "flow-03-guardrails-prefilter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guardrails-prefilter",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1b81d5d6-e839-4ca9-98fc-e6d4f3b2ce15",
      "name": "Webhook",
      "webhookId": "0485c024-fd9f-41dc-a5ac-920d34f7f76d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8002/check/input",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.description }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ff25d8f2-79c9-4bbb-ad41-37ebdcf215af",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c695c33a-bbeb-4fc8-a52d-76786ef15b1b",
              "leftValue": "={{ $json.pass }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "99cf5d3c-5521-407a-82c3-36f0d2f25430",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8004/agent/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"description\": \"{{ $('Webhook').item.json.body.description }}\",\n  \"agent_name\": \"{{ $('Webhook').item.json.body.agent_name }}\",\n  \"rag_result\": {},\n  \"image_analysis\": {}\n}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -96
      ],
      "id": "6b97de5a-6941-4c76-8cd4-f1d9d0350936",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -96
      ],
      "id": "c3522faf-411f-4a62-a372-43bd9b03f0f5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"rejected\",\n  \"reason\": \"{{ $json.reason }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        176
      ],
      "id": "1fc273a9-71d8-40f6-911e-9ffebc946139",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f7461cc9-ef5f-437e-9bfe-877d6fb927ca",
  "meta": {
    "instanceId": "7af5021f6ae2aa8c124227c342dd333c19a467316d215c2cf84cd5c31b436bad"
  },
  "id": "G8347mB6cWXwedKk",
  "tags": []
}